@import "tailwindcss";
html,
body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-spin 15s linear infinite;
}